resource "aws_wafv2_rule_group" "{{slug}}" {
  name        = "{{name}}"
  description = "{{description}}"
  scope       = "{{scope}}"
  capacity    = {{capacity}}

  {{#rules}}
  rule {
    name     = "{{rule_name}}"
    priority = {{rule_priority}}

    action {
      {{#rule_allow}}allow {}{{/rule_allow}}
      {{#rule_block}}block {}{{/rule_block}}
      {{#rule_count}}count {}{{/rule_count}}
    }

    statement {
      {{rule_statement_parameterized}}
    }

    visibility_config {
      sampled_requests_enabled    = {{rule_sampled_requests_enabled}}
      cloudwatch_metrics_enabled = {{rule_cloudwatch_metrics_enabled}}
      metric_name                = "{{rule_metric_name}}"
    }
  }
  {{/rules}}

  visibility_config {
    sampled_requests_enabled    = {{sampled_requests_enabled}}
    cloudwatch_metrics_enabled = {{cloudwatch_metrics_enabled}}
    metric_name                = "{{metric_name}}"
  }

  tags = merge(var.common_tags, {{tags}}, {
    Name      = "{{name}}"
    SourceArn = "{{source_arn}}"
  })
}
